@import "tailwindcss";
@import "./base.css";
@import "./components.css";
@import "./utilities.css";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-mynerve: "Mynerve", cursive;
  --font-opensans: "Open Sans", sans-serif;
  --color-olive: #9ca117;
  --color-gold: #dfb819;
  --color-charcoal: #3a3a32;
  --color-yellow: #ffd00f;
  --color-accent-yellow: #ffc800;
  --color-dark-green: #516b44;
  --color-tan: #eae3ca;
  --color-pale-tan: #f4f4e8;
  --color-white: #ffffff;
  --color-brand: #db5009;
  --grid-template-columns-9: repeat(9, minmax(0, 1fr));
  --grid-cols: 9;
  --gutter: 40px;
}
