---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

interface Props {
  blok: {
    headline?: string;
    Description?: string;
    links?: any[];
  };
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="text-white">
  {
    blok.headline && (
      <h3 class="font-opensans font-normal text-[24px] text-white mb-4">
        {blok.headline}
      </h3>
    )
  }

  {blok.Description && <p class="text-white/80 mb-4">{blok.Description}</p>}

  {
    blok.links && blok.links.length > 0 && (
      <nav>
        <ul class="list-disc pl-6 space-y-2">
          {blok.links.map((linkBlok: any) => (
            <li>
              <StoryblokComponent blok={linkBlok} />
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</div>
