---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

interface Props {
  blok: {
    headline?: string;
    image?: {
      filename: string;
      alt?: string;
    };
    text: any;
  };
}

const { blok } = Astro.props;
const textHtml = blok.text ? renderRichText(blok.text) : '';
---

<div {...storyblokEditable(blok)} class="text-white">
  {blok.headline && (
    <h3 class="font-opensans font-normal text-[24px] text-white mb-4">{blok.headline}</h3>
  )}

  {blok.image?.filename && (
    <img
      src={blok.image.filename}
      alt={blok.image.alt || ''}
      class="w-32 h-auto mb-4"
    />
  )}

  {textHtml && (
    <div class="text-white/80 [&_p]:mb-2 [&_p:last-child]:mb-0" set:html={textHtml} />
  )}
</div>
