---
import { storyblokEditable } from "@storyblok/astro";

interface Props {
  blok: {
    text: string;
  };
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="mt-[100px] text-center">
  <p class="text-white/60 text-sm">{blok.text}</p>
</div>
