---
import { storyblokEditable } from '@storyblok/astro';

interface Props {
  blok: {
    text: string;
  };
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="border-t border-white/20 py-4 mt-10 text-center">
  <p class="text-white/60 text-sm">{blok.text}</p>
</div>
