---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services">
	<h1>Our Training Services</h1>
	<p>
		We offer a variety of training programs tailored to meet the needs of dogs
		at every stage of life. From puppy basics and obedience training to
		specialized behavior modification, our services are designed to help your
		dog become a well-mannered companion. Contact us to learn more about which
		program is right for you.
	</p>
</Layout>
